amqp==2.6.1
ApiDoc==1.4.0
APScheduler==3.7.0
asgiref==3.2.10
astroid==2.5.2
autopep8==1.5.4
bcrypt==3.2.0
billiard==3.6.3.0
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.3
click==7.1.2
clickhouse-driver==0.1.4
colorama==0.4.4
cryptography==3.4.7
cycler==0.10.0
DBUtils==2.0
Django==1.11.29
djangorestframework==3.11.1
docx==0.2.4
docxtpl==0.10.0
fastapi==0.61.2
flake8==3.9.0
graphql-core==2.3.2
graphviz==0.16
h11==0.12.0
idna==2.6
imageio==2.9.0
isort==5.8.0
Jinja2==2.7.3
jsonschema==2.4.0
kiwisolver==1.3.1
kombu==4.6.11
lazy-object-proxy==1.6.0
loguru==0.5.3
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.3.0
mccabe==0.6.1
MyQR==2.3.1
numpy==1.19.1
objgraph==3.5.0
paramiko==2.7.2
Pillow==8.0.1
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.9.8
pydantic==1.7.2
pyflakes==2.3.1
PyMySQL==1.0.2
PyNaCl==1.4.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-docx==0.8.10
python-multipart==0.0.5
pytz==2020.1
PyYAML==3.11
qrcode==7.2
redis==3.5.3
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
starlette==0.13.6
toml==0.10.2
typer==0.3.2
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.25.11
uvicorn==0.12.2
vine==1.3.0
win32-setctime==1.0.3
wrapt==1.12.1
xlwt==1.3.0
